<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dof6_robot">
  <xacro:arg name="enable_joint1" default="true" />
  <xacro:arg name="enable_joint2" default="true" />
  <xacro:arg name="enable_joint3" default="true" />

  <!-- Import robot ros2_control description -->
  <xacro:include filename = "$(find dof6robot_control)/description/dof6robot.description.xacro" />
  <xacro:robot_description enable_joint1="$(arg enable_joint1)" enable_joint2="$(arg enable_joint2)" enable_joint3="$(arg enable_joint3)" />

    <!-- Import robot ros2_control description -->
  <xacro:include filename = "$(find dof6robot_control)/ros2_control/dof6robot.ros2_control.xacro" />
  <xacro:robot_ros2_control name="robot" />
  
  <link name="world"/>
</robot>
